
#Contenedor{
  width: 170%;
  height: 100%; 
  padding:10% 10% 10% 10%;

  margin-right: 165%;
  font-family: 'Lato', sans-serif;
  font-size: 1.4em;
  color: #E0F2F7;
  background-color: #0B0B3B; 
  border-radius: 3px;
  box-shadow: 43x 3px 2px #333;
  opacity: 1;
  
  text-align: left;
  border-radius: 10px;
}

#Contenedor_titulo{
    width: 100%;
    padding-bottom: 1%;
    margin-bottom: 2%;
    align-items: left;
    text-align: left;
}
#Contenedor_contenido{
    width: 100%;
    padding-bottom: 21%;
    align-items: left;
    text-align: left;
}
#boton{
    margin-top: 2%;
}
#Contenido{
    width: 100%;
    padding-bottom: 21%;
}